html {
    box-sizing: border-box;
    background-color: rgb(183, 180, 207);
    color: #97a2a6 !important;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.contenedor {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.solicitud {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px #000000;
    z-index: 9998;
    background-color: #101d25;
    width: 30%; /* 30% de ancho para la columna izquierda */
}
tr {
    z-index: 9998;
    background-color: #1b252b !important;
    color: #97a2a6;
    border: 2px solid #132b38!important; /* un borde gris oscuro que complementa el fondo */
    cursor: pointer;
    transition: 0.3s;
}
tr:hover{
    transition: 0.3s;
    background-color: #132b38 !important;
}

td{
    padding: 8px;
    padding-left: 20px;
}
.tr-solicitud{
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
}
.agregar {
    padding: 10px;
    margin-bottom: 10px;
    flex: 1;
}

.amigos {
    margin-bottom: 10px;
    flex: 1;
}

.amigos h6 {
    text-align: center;
    color: white;
}

.solicitud h6 {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    color: white !important;
}

.form-outline {
    padding: 1%;
    width: 86%;
}

#amigos-navbar,
#agregar-navbar {
    background-color: #1e292f;
    width: 100%;
    border-radius: 0px;
}

#form1 {
    width: 100%;
    border-radius: 20px;
    background-color: #101d25;
    color: #97a2a6 !important;
    border: 2px solid #1a394b;
}

#form1::placeholder {
    color: #97a2a6;
}

.header {
    display: flex; /* Usar flexbox para alinear elementos en una línea */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: space-between; /* Espacio entre el título y el formulario */
    background-color: #1f2c34;
    box-shadow: 6px -1px 10px #333;
    z-index: 9999;
    padding: 10px;
    width: 100%;
    padding-top: 30px; /* Asegura que el formulario esté siempre abajo */
    align-content: center;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que el chat se extienda y el formulario quede abajo */
    width: 70%; /* 70% de ancho para la columna derecha */
    height: 100vh; /* Altura completa */
    box-sizing: border-box;
    z-index: 1;
    background-image: url(../img/2b609488b4711e06e40a213e24e55d77\ \(1\).jpg);
}

.chat > div {
    background-color: transparent; /* Elimina el color de fondo de los elementos internos */
    margin-bottom: 10px;
}

#vacio {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}

#vacio > div {
    width: fit-content;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

.mensajes {
    height: 550px;
    overflow-y: auto; /* Permitir desplazamiento si hay muchos mensajes */
    padding: 10px;
    background-color: #aa3434; /* Fondo blanco para los mensajes */
    border-radius: 10px; /* Bordes redondeados */
    width: 100%;
}

.mensaje {
    padding: 5px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    position: relative; /* Posicionamiento relativo para el reloj */
    display: flex; /* Cambiar a flex para alineación */
    justify-content: flex-end; /* Alinear el contenido hacia la derecha por defecto */
    width: fit-content;
    max-width: 50%; /* Limitar el ancho máximo al 50% */
    flex-direction: column

}

.mio {
    background-color: #133831; /* Color de fondo del mensaje del usuario */
    color: #aecdc7; /* Color del texto del usuario */
    margin-left: auto; /* Empujar a la derecha */
    width:max-content;
}

.amigo {
    background-color: #f8d7da; /* Color de fondo del mensaje del amigo */
    color: #000; /* Color del texto del amigo */
    justify-content: flex-start; /* Alinear a la izquierda */
}

.mensaje-texto {
    max-width: 100%; /* Limitar el ancho máximo al 50% */
    width: 100%; /* Ajustar el ancho al contenido */
    padding: 5px; /* Espaciado interno del texto */
    display: inline-block; /* Para que el ancho se respete */
    text-align: left;
    word-wrap: break-word; /* Permitir que las palabras se dividan si son demasiado largas */
}

.navbar {
    padding-left: 10px !important;
    padding-right: 10px !important;
    background-color: #1f2c34 !important;
}
.navbar-div{
    width: 100%;
    display: flex;

}

a {
    color: #aecdc7 !important;
    text-decoration: none !important;
    width: 100%;
    padding-left: 20px;
}

.mensaje-informacion {
    font-size: 12px; /* Tamaño de fuente más pequeño */
    color: #888; /* Color gris para la información */
    margin-top: 5px; /* Espaciado superior para separar del texto del mensaje */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    word-wrap: break-word;

}

form {
    border-radius: 20px;
    display: flex;
    width: 100%;
    padding: 10px;
    position: sticky;
    bottom: 0; /* Asegura que el formulario esté siempre abajo */
    justify-content: flex-start;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 2px solid #1a394b;
    border-radius: 20px;
    margin-right: 10px;
    background-color: #101d25 !important;
    color: #97a2a6 !important;
}

input[type="text"]::after {
    border: 2px solid #326d8f !important;
}

button {
    padding: 8px 20px;
    background-color: #133831 !important;
    border: none;
    color: white;
    border-radius: 20px !important;
    cursor: pointer;
    transition: 1s;
}
#btn_agregar {
    padding: 5px 10px;
    background-color: #133831 !important;
    border: none;
    color: white;
    font-size: large;
    border-radius: 20px !important;
    cursor: pointer;
    transition: 1s;
}

button:hover,
#btn_agregar:hover {
    transition: 0.3s;
    background-color: rgb(26, 77, 67) !important;
}

input[class="btn-del"] {
    padding: 10px 20px;
    background-color: #ffffff;
    border: none;
    color: black;
    border-radius: 20px;
    cursor: pointer;
}

input[class="btn-del"]:hover {
    background-color: #d63838;
    color: white;
}

h1 {
    margin: 0; /* Elimina el margen predeterminado del título */
}

form {
    margin: 0; /* Elimina el margen del formulario */
}
#form-cerrar{
    justify-content: flex-end;
}